<app-admin-productos-navbar></app-admin-productos-navbar>

<section class="sectionBody">
  <h1 class="text-center fw-bold pt-4">{{titulo | uppercase}}</h1>
  <section class="secttioCon d-flex align-items-center">
    <section class="sectionMedia">
      <form class="sectionCreate" [formGroup]="formularioCatalogo"
        (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="form-group">
          <label class="fw-bold">Tipo de máquina</label>
            <select name="tipoMaquina" id="tipoMaquina" formControlName="tipoMaquina" class="form-select" style="font-family: 'Poppins', sans-serif;" aria-label="Default select example">
              <option selected disabled value="">Seleccione</option>
              <option value="Hornos">Hornos</option>
              <option value="Mojadoras">Mojadoras</option>
              <option value="Batidoras">Batidoras</option>
              <option value="Empacadoras">Empacadoras</option>
              <option value="Multiformadoras">Multiformadoras</option>
              <option value="Divisoras de pan">Divisoras de pan</option>
              <option value="Tajadoras de pan">Tajadoras de pan</option>
              <option value="Cortadoras de masa">Cortadoras de masa</option>
              <option value="Cuartos de crecimiento">Cuartos de crecimiento</option>
              <option value="Bandejas nacionales">Bandejas nacionales</option>
              <option value="Bandejas importadas">Bandejas importadas</option>
              <option value="Cilindro automatico">Cilindro automatico</option>
              <option value="Maquinas Galleteras">Maquinas Galleteras</option>
              <option value="Repuestos para toda Maquinaria">Repuestos para toda Maquinaria</option>
              <option value="Otros">Otros</option>
          </select>
        </div>
        <div class="form-group">
          <label for="nombre" class="fw-bold">Nombre</label>
          <input type="text" class="form-control" id="nombre"
            formControlName="nombre">
        </div>
        <div class="form-group">
          <label for="descripcion" class="fw-bold">Descripción</label>
          <textarea class="form-control" id="descripcion"
            formControlName="descripcion"></textarea>
        </div>
        <div class="form-group">
          <label for="precioComercial" class="fw-bold">Precio Comercial</label>
          <input type="text" class="form-control" id="precioComercial"
            formControlName="precioComercial" (input)="onCurrencyInput2($event)">
        </div>
        <div class="form-group">
          <label for="precio" class="fw-bold">Precio Ahora</label>
          <input type="text" class="form-control" id="precio"
            formControlName="precio" (input)="onCurrencyInput2($event)">
        </div>
        <div class="form-group">
          <label for="estado" class="fw-bold">Estado</label>
          <select name="estado" id="estado" formControlName="estado" class="form-control" style="font-family: 'Poppins', sans-serif;">
            <option selected disabled value="">Seleccione</option>
            <option value="Disponible">Disponible</option>
            <option value="Vendido">Vendido</option>
          </select>
        </div>
        <div class="form-group">
          <label for="imagenes" class="fw-bold">Imagenes</label>
          <div class="form-group d-flex">
            <input type="file" class="form-control" id="imagenes" name="imagenes" accept="image/*" multiple>
            <button class="btn btn-success" type="button" id="inputGroupFileAddon04" (click)="agregarIjwjwmagenes()">Agregar</button>
          </div>
        </div>
        <button type="submit" class="btn btn-success w-100 mt-3">Guardar</button>
      </form>
  
  
      <div class="rowS">
        <div class="wrapper col-mg-4" *ngFor="let imagen of imagenesSeleccionadas;
          let i= index" (click)="eliminarImagen(i)">
          <img [src]="imagen" class="img-thumbnail imgSelected">
        </div>
      </div>
    </section>
  </section>
  
</section>

