<footer class="footerAll d-flex justify-content-between justify-content-center w-100">
    <img class="col-5" src="../../assets/img/footerBanner.png" alt="">
    <div class="col-7">
        <div class="d-flex justify-content-center">
            <a routerLink="/"><img width="600px " src="../../assets/img/logoFooter.png" alt=""></a>
        </div>
        <div class="w-100 d-flex justify-content-center align-items-center my-2">
            <a href="#"><i class="colorText fa fa-facebook-square mx-2" aria-hidden="true"></i></a>
            <a href="#"><i class="colorText fa fa-whatsapp mx-2" aria-hidden="true"></i></a>
            <a href="#"><i class="colorText fa fa-instagram mx-2" aria-hidden="true"></i></a>
            <a href="#"><i class="colorText fa fa-phone-square mx-2" aria-hidden="true"></i></a>
        </div>
        <div class="w-100 d-flex justify-content-evenly justify-content-center">
            <div class="d-flex justify-content-start align-items-center">
                <ul class="mb-0 d-flex flex-column justify-content-center align-items-start list-unstyled">
                    <li><a class="coloTextLinksActive fw-bold text-decoration-none" href="#">Nuestra compañia</a></li>
                    <li><a class="coloTextLinks text-decoration-none" routerLink="/nosotros">Visión</a></li>
                    <li><a class="coloTextLinks text-decoration-none" routerLink="/nosotros">Misión</a></li>
                    <li><a class="coloTextLinks text-decoration-none" routerLink="/nosotros">¿Quíenes somos?</a></li>
                </ul>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <ul class="mb-0 d-flex flex-column justify-content-center align-items-start list-unstyled">
                    <li><a class="coloTextLinksActive fw-bold text-decoration-none" href="#">Legal</a></li>
                    <li><a class="coloTextLinks text-decoration-none" href="#">Política de privacidad</a></li>
                    <li><a class="coloTextLinks text-decoration-none" href="#">Condiciones generales</a></li>
                    <li><a class="coloTextLinks text-decoration-none" href="#">Política de cookies</a></li>
                </ul>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <ul class="mb-0 d-flex flex-column justify-content-center align-items-start list-unstyled">
                    <li><a class="coloTextLinksActive fw-bold text-decoration-none" href="#">Contacto</a></li>
                    <li><a class="coloTextLinks text-decoration-none" href="#"><span> <i
                                    class="colorTextTelefono fa fa-phone mx-2" aria-hidden="true"></i></span> 322 902
                            4525</a></li>
                    <li><a class="coloTextLinks text-decoration-none" href="#"><span> <i
                                    class="colorTextPhone fa fa-mobile mx-2" aria-hidden="true"></i></span> (+57) 322
                            902 4525</a></li>
                    <li><a class="coloTextLinks text-decoration-none" href="#"><span> <i
                                    class="colorTextEmail fa fa-envelope mx-2" aria-hidden="true"></i></span>
                            servicio@equipossafari.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>