<app-navbar></app-navbar>
<section class="sectionContact w-100">
    <h1 class="pb-3">Contacto</h1>
    <div class="d-flex justify-content-center align-items-center flex-column py-3" >
        <form class="d-flex flex-column w-100" action="">
            <div class="d-flex w-100">
                <input class="inputsContact w-50" type="text" placeholder="Nombre">
                <input class="inputsContact w-50" type="email" placeholder="Correo electrónico*">
            </div>
            <input class="inputsContact" type="number" placeholder="Número de teléfono">
            <textarea class="inputsContactComent" type="text" placeholder="Comentario"></textarea>
        </form>
    </div>
    <button type="submit" class="btnEnviar mt-2" >Enviar</button>
    <hr>
    <div class="d-flex flex-column">
        <h4 class="text-center" style="color: #d11010;">ó</h4>
        <i class="fa fa-phone-square fs-2 pb-3 text-center" style="color: #d11010;"><span class="fs-4 text-black"> 322 9024525</span></i>
        <i class="fa fa-whatsapp fs-2 text-center" style="color: #d11010;"> <span class="fs-4 text-black"> (+57) 322 9024525</span></i>
    </div>
</section>
<app-footer></app-footer>