<app-navbar></app-navbar>
<section class="d-flex justify-content-center pt-5">
    <div class=" w-75">
        <img src="../assets/img/quienesSomos.png" class="pb-5 w-100" alt="">
        <p class="">
            Somos una empresa dedicada a la venta y servicios de equipos de panadería de alta
            calidad. Con más de 30 años de experiencia en el mercado, nos hemos consolidado como líderes en el
            sector, gracias a nuestro compromiso con la excelencia y la satisfacción del cliente.
        </p>
        <p> Nuestra pasión por la panadería y la gastronomía nos motiva a brindar soluciones innovadoras y
            eficientes para nuestros clientes, enfocándonos en entender sus necesidades y ofrecerles una atención
            personalizada y un servicio de alta calidad. Nos enorgullece ofrecer equipos de panadería de última
            generación, diseñados y fabricados con los más altos estándares de calidad, así como servicios de
            mantenimiento preventivo y correctivo para asegurar su óptimo desempeño y durabilidad.
        </p>
        <p>
            En Equipos Safari, creemos en la importancia de trabajar en equipo, colaborando de manera cercana con
            nuestros clientes para entender sus necesidades y ofrecerles soluciones personalizadas que les permitan
            mejorar su eficiencia y productividad en la producción de pan y otros productos de panadería. Nuestro
            compromiso es brindar un servicio excepcional, de manera confiable y eficiente, para garantizar la
            satisfacción total de nuestros clientes.
        </p>
        <p>
            Si buscas una empresa comprometida con la calidad y la innovación en la venta y servicios de equipos de
            panadería, en Equipos Safari estamos a tu disposición para brindarte la mejor solución para tus
            necesidades de producción.
        </p>
    </div>
</section>

<section class="d-flex justify-content-evenly py-5">
    <div class="borderDiv p-4">
        <h3 class="fw-bold text-white">Misión</h3>
        <p class="text-white">
            Nuestra misión es liderar el mercado de la venta y servicios de equipos de
            panadería de alta calidad, ofreciendo soluciones personalizadas y eficientes para nuestros clientes. Nos
            enfocamos en la excelencia, la innovación y la satisfacción del cliente, y trabajamos en equipo para
            entender sus necesidades y brindarles un servicio confiable y de alta calidad.
        </p>
    </div>
    <div class="borderDiv p-4">
        <h3 class="fw-bold text-white"> Visión</h3>
        <p class="text-white">
            Nuestra visión es ser líderes a nivel nacional e internacional en la venta y
            servicios de equipos de panadería, reconocidos por nuestra calidad, innovación y compromiso con la
            satisfacción del cliente. Nos enfocamos en entender las necesidades de nuestros clientes y ofrecer
            soluciones personalizadas para mejorar su productividad y rentabilidad en la producción de pan y otros
            productos de panadería. Aspiramos a ser una empresa en constante evolución, que promueve el crecimiento
            y desarrollo de nuestros colaboradores y de la industria gastronómica en general.
        </p>
    </div>
</section>
<app-footer></app-footer>