<app-navbar></app-navbar>
<div class="completo">
    <div class="container col-12 d-flex">
        <div class="col-6 d-flex flex-column">
            <div *ngIf="item && item.imagenes.length > 0" class="bordel">
                <div class="img-zoom-container">
                    <button class="close" (click)="abrirImagenEnModal(imagenSeleccionadaIndex)"><img src="../assets/img/search.png" alt="search" width="20px"></button>
                    <img class="img-principal" [src]="imagenPrincipalUrl" [alt]="item.imagenes[0]?.descripcion"
                        (mousemove)="zoomImage($event)" (mouseleave)="removeZoom()">
                </div>
            </div>

            <div *ngIf="item.imagenes.length > 0" class="contenedor-imagenes">
                <ng-container *ngFor="let imagen of item.imagenes; let i = index">
                    <div (click)="cambiarImagenPrincipal(imagen.url, i)">
                        <img class="img-secundaria" [src]="imagen.url" [alt]="imagen.descripcion"
                            [ngClass]="{'img-inactiva': imagen.url !== imagenSeleccionada}">
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="col-6 d-flex flex-column">
            <p class="pSafari">SAFARIMAQUINASDESEGUNDA</p>
            <p class="pNombre"> {{ item.nombre }}</p>
            <span class="antes">Precio comercial
                <span class="priceComercial">${{ item.precioComercial }}</span>
            </span>
            <p class="pPrecio fw-bold fs-5"><span>En venta </span> ${{
                item.precio}}</p>
            <i class="desC fw-bold">DESCRIPCIÓN</i>
            <p class="pDes pDescripcion">{{ item.descripcion }}</p>
        </div>
    </div>
</div>

<app-image-modal *ngIf="showModal" [title]="item.nombre" [images]="imageObject" [initialIndex]="imagenSeleccionadaIndex"
    (close)="showModal = false"></app-image-modal>

<app-footer></app-footer>