<app-navbar></app-navbar>
<section class="w-100 my-3">
    <div id="carouselExampleInterval" class="carousel slide w-100 " data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="../../assets/img/bannerHome.jpg" class="d-block w-100 h-25" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section class="px-5">
    <div class="text-center py-3">
        <h1>Equipos Safari</h1>
    </div>
    <div class="text-center fs-6 px-5">
        <p class="px-4">Equipos Safari es una empresa con más de 30 años de experiencia en la venta y servicios de equipos de panadería de alta calidad. Ofrecemos una amplia gama de equipos diseñados y fabricados con los más altos estándares de calidad, así como servicios de mantenimiento preventivo y correctivo para asegurar su óptimo desempeño a lo largo de su vida útil. Nos enfocamos en brindar soluciones personalizadas para mejorar la eficiencia y productividad de nuestros clientes en la producción de pan y otros productos de panadería.</p>
    </div>
</section>

<section class="d-flex justify-content-evenly ">
    <div class="divG text-center">
        <img src="../../assets/img/garantia.png" width="200" alt="">
        <h5>Garantia de un año</h5>
        <p>Todos nuestros productos cuentan con garantía.</p>
    </div>
    <div class="divG text-center">
        <img src="../../assets/img/servicioTecnico.png" width="180" alt="">
        <h5>Servicio técnico</h5>
        <p>Todo lo que necesitas saber para la mantención de tus hornos, mojadoras y batidoras.</p>
    </div>
</section>

<section class="container d-flex justify-content-center align-items-center" style="height: 700px;">
    <iframe class="googleMap w-75 h-75"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.844177376014!2d-74.12674162714193!3d4.621874695352849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9eacb4eff0b3%3A0x45566469fd5abf3d!2sTv.%2065b%20%231-66%2C%20Bogot%C3%A1!5e0!3m2!1sen!2sco!4v1667962931510!5m2!1sen!2sco"
        height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>
<app-footer></app-footer>